<main>
    <section class="login">
        <h2 class="titulo-principal">Login</h2>
        <form id="form-login" action="">
            <label for="email">Email</label>
            <input type="email" name="email" class="input-padrao">
            <label for="senha">Senha</label>
            <input type="password" name="senha" class="input-padrao">
            <input id="entrar" type="submit" value="Entrar" class="btn btn-enviar">
            <input type="submit" value="Esqueci a senha" class="btn btn-enviar btn-senha">
        </form>
    </section>
</main>