<main>
    <section class="cadastro">
        <h2 class="titulo-principal">Cadastro</h2>
        <form id="form-cadastro" name="form-cadastro" action="">
            <label for="nome">Nome</label>
            <input type="text" name="nome" placeholder="Nome" class="input-padrao" required>
            <label for="sobrenome">Sobrenome</label>
            <input type="text" name="sobrenome" placeholder="Sobrenome" class="input-padrao" required>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="seuemail@email.com" class="input-padrao" required>
            <label for="telefone">telefone</label>
            <input type="tel" name="telefone" placeholder="(XX) XXXX-XXXX" class="input-padrao" required>
            <label for="senha">Senha</label>
            <input type="password" name="senha" class="input-padrao" required>
            <label for="senha">Repita a Senha</label>
            <input type="password" name="repsenha" class="input-padrao" required>
            <ul id="mensagens-erro">
            </ul>
            <input id="cadastro" type="submit" value="Enviar" class="btn-enviar">
        </form>
    </section>
</main>
