
        <div class="cabecalho">
            <h1>
                <img class="logo" src="img/logo.png" alt="logo-barbearia-toque-de-mestre">
            </h1>
            <ul class="login-cadastro">

                    <li><input type="submit" value="Login" onclick="window.location='login.html'"></li>
                    <li><input type="submit" value="Cadastro" onclick="window.location='cadastro.html'"></li>
            </ul>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="agendamento.html">Agendamento</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="compra.html"><img id="carrinho" class="carrinho" src="img/carro-vazio.jpg" alt="carrinho-de-compras"></a></li>
                </ul>
            </nav>  
        </div>
