        <section class="slideshow-container">
            <!--Fotos do Slide-->
            <div class="imagens-slide">
                <img class="meu-slide fade" src="img/slide-barbershop1.jpg" alt="imagem-barbearia">
                <img class="meu-slide fade" src="img/slide-barbershop2.jpg" alt="imagem-barbearia2">
                <img class="meu-slide fade" src="img/slide-barbershop3.jpg" alt="imagem-barbearia3">
                <img class="meu-slide fade" src="img/slide-barbershop4.jpg" alt="imagem-barbearia3">
            </div>
            <!--Botões de próximo e voltar-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <!--Botões de navegação do slide-->
            <div class="circulos-nav">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </section>
        <main>
            <section class="about">
                <h2 class="titulo-principal">Quem somos</h2>
                <p>
                    Fundado em 2020, nosso objetivo principal é oferecer um serviço de qualidade tradicional, com elementos de modernidade, proporcionando aos nosso clientes uma experiência á altura de sua vaidade.
                </p>
                <p>
                    Temos, além dos cortes tradicionais de cabelo e barba, pacotes completos de beleza, para que, quem passe por nós, esteja com a melhor aparência possível para grandes eventos e momentos em suas vidas.
                </p>
                <p>
                    Além de profissionais qualificados e um ambiente bastante aconchegante, temos a opção de agendamento direto aqui no site.
                </p>
            </section>
            <section class="caracteristicas">
                <h2 class="titulo-principal">Diferenciais</h2>
                <h3 class="subtitle">Todas as nossas unidades dispões de todos os recursos abaixo para melhor lhe atender.</h3>
                <ul class="itens-caracteristicas">
                    <li>Atendimento diferenciado</li>
                    <li>Possibilidade de Agendamento</li>
                    <li>Ambiente climatizado</li>
                    <li>Profissionais qualificados</li>
                    <li>Salão de Jogos e Bar</li>
                </ul>
            </section>
            <section class="mapa">
                <h2 class="titulo-principal">Onde estamos</h2>
                <div class="conteudo-mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7774.901662726826!2d-38.45888226017113!3d-13.006937656208153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd7b50fc39c213d48!2sBarbearia%20Pituba!5e0!3m2!1spt-BR!2sbr!4v1587311738251!5m2!1spt-BR!2sbr" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </section>
        </main>